<html xmlns:th="http://www.thymeleaf.org">

<!-- head -->
<title>KLAYTN NAME CARD</title>
<head th:replace="fragment/header :: head"></head>

<style>
	.nameCardDiv{
		padding-top: 55.55%;
		position: relative;
		border: 1px solid white;
	}
	.nameCardDiv div{
		position: absolute;
	 	width: 100%;
	 	height: 100%;
	}
</style>

<body class="d-flex h-100 text-center text-white bg-dark">
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		<!-- header -->
		<header th:replace="fragment/header :: header"></header>
		
		<main class="p-3">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="nameCardDiv d-flex justify-content-center align-items-center">
							<div class="">
								<span id="address"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<!-- footer -->
		<footer th:replace="fragment/footer :: footer"></footer>
	</div>
</body>
<script>
$(document).ready(function(){
	connect();
})

async function connect() { 
	let address = $("#address").val();
	
	if(address == ""){
		const accounts = await klaytn.enable();
	    
	    if (klaytn.networkVersion === 8217) {
	        console.log("메인넷");
	    } else {
	        alert("ERROR: 클레이튼 네트워크로 연결되지 않았습니다!");
	        return;
	    }
	    
	    address = accounts[0];
	    if(address != ""){
		    $("#address").text(address);
	    }
	}
}
</script>

</html>